/* ==========================================
   BioMed Learn V3.0
   responsive.css
========================================== */

/* ==============================
   Laptop (1200px)
============================== */

@media (max-width:1200px){

.header{

    padding:0 5%;

}

.hero{

    padding:130px 6% 70px;

}

section{

    padding:80px 6%;

}

.hero h1{

    font-size:54px;

}

.footer-container{

    grid-template-columns:repeat(2,1fr);

    gap:35px;

}

}

/* ==============================
   Tablet (992px)
============================== */

@media (max-width:992px){

.header{

    padding:0 30px;

}

.hero h1{

    font-size:46px;

}

.hero p{

    font-size:19px;

}

.section-title h2{

    font-size:34px;

}

.search-box{

    flex-direction:column;

    border-radius:25px;

    padding:20px;

}

.search-box input{

    width:100%;

    text-align:center;

}

.search-box button{

    width:100%;

    margin-top:15px;

}

.equipment-grid{

    grid-template-columns:repeat(2,1fr);

}

.category-grid{

    grid-template-columns:repeat(2,1fr);

}

.article-grid{

    grid-template-columns:repeat(2,1fr);

}

.stats{

    grid-template-columns:repeat(2,1fr);

}

.footer-container{

    grid-template-columns:repeat(2,1fr);

}

}