*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#eef5fb;
}

header{
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#0d6efd;
}

nav a{
    text-decoration:none;
    margin-left:25px;
    color:#333;
    font-weight:bold;
}

nav a:hover{
    color:#0d6efd;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:50px;
    color:#0d6efd;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#555;
    max-width:700px;
    margin:auto;
    line-height:1.6;
}

button{
    margin-top:40px;
    background:#0d6efd;
    color:white;
    border:none;
    padding:15px 35px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#0b5ed7;
}
.equipment{
    padding:80px 40px;
}

.equipment h2{
    text-align:center;
    font-size:40px;
    color:#0d6efd;
    margin-bottom:40px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    margin-bottom:15px;
    color:#0d6efd;
}

.card p{
    color:#555;
    margin-bottom:20px;
    line-height:1.6;
}